.file-name {
    text-align: left;
    text-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    line-height: 32px;
    margin: 0;
    grid-area: file-name;
    /*mask-image: linear-gradient(to right, transparent 0%, rgb(0 0 0 / 100%) 10%,rgb(0 0 0 / 100%) 90%,transparent 100%);*/
}
.timebar {
    display: flex;
    flex-direction: row;
    grid-area: timebar;
}
#progress {
    width: 100%;
}
#clock, #clock_neg {
    width: 72px;
    text-align: center;
}
.playback-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: playback-controls;
}
.playback-controls button {
    background-color: #3a3a5a;
    border: 2px solid #44446a;
    box-shadow: 2px 2px 0 #26263b;
    border-radius: 24px;

    padding: 2px;
    margin: 2px;
    font-size: 16pt;
    cursor: pointer;

    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-controls button span {
    font-size: 36px;
    color: #fff;
}

.playback-controls button:active {
    background: linear-gradient(to bottom, #30304b, #26263b) no-repeat, #26263b;
    border: 2px solid #26263b;
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
}